.void-css-block {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    margin: 0 0.75rem;
    border: 1px solid hsl(var(--neutral-900));
    border-radius: 0.75rem;
    overflow: hidden;
}

.void-css-header {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 1rem;
    background: hsl(0deg 0% 0%);
    border-radius: 0.75rem 0.75rem 0 0;
}

.void-css-header span {
    font-family: var(--font-ibm-plex-mono), monospace;
    font-size: 0.75rem;
    color: hsl(var(--fg-secondary));
    user-select: none;
}

.void-css-editor {
    flex: 1;
    background: hsl(var(--surface-inset));
    border-radius: 0 0 0.75rem 0.75rem;
}

.void-css-editor .monaco-editor,
.void-css-editor .monaco-editor .overflow-guard {
    border-radius: 0 0 0.75rem 0.75rem;
}

.void-css-editor .monaco-editor .focused .selected-text,
.void-css-editor .monaco-editor.focused {
    outline: none !important;
    border: none !important;
}

.void-css-editor .monaco-editor,
.void-css-editor .monaco-editor .inputarea {
    outline: none !important;
    box-shadow: none !important;
}

.void-css-editor .monaco-editor .cursors-layer > .cursor {
    visibility: hidden !important;
}

.void-css-editor .monaco-editor.focused .cursors-layer > .cursor {
    visibility: inherit !important;
}

.void-css-editor .monaco-editor .current-line-margin-both {
    border: none !important;
}
